.logoContainer {
  align-items: center;
  display: flex;
  font-family: var(--font-secondary);
  gap: 0.5rem;
}

.logoImg {
  height: 2.5rem;
}

.logoText {
  color: var(--neutral-darkest);
  font-size: 2.5rem;
  margin: 0;
}
