.siteActions {
  display: flex;
  gap: 1rem;
  font-size: 1rem;
  align-items: center;
}

.siteActions a {
  text-decoration: none;
  color: inherit;
}

.siteActions * {
  transition: color 0.2s;
}

.siteActions *:hover {
  color: var(--accent-pink-dark);
}
