.headerContainer {
  background-color: aqua;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
}

.logoAndName {
  display: flex;
}

.logoImg {
  max-width: 5rem;
}

.nameOfPage {
  color: blue;
  padding-left: 2rem;
}

.navBarHeader {
  display: flex;
}

.list {
  display: flex;
  list-style: none;
  align-items: center;
}

.list li a {
  text-decoration: none;
  padding: 0.7rem 1.7rem;
  margin: 0 1rem;
  background-color: greenyellow;
  border-radius: 0.5rem;
}

.list li a:hover {
  background-color: rgb(116, 101, 252);
}

.navBar {
  padding: 1rem 0;
}

.navBar ul {
  display: flex;
  list-style: none;
  justify-content: center;
}

.navBar ul li {
  justify-content: center;
}

.navBar ul a {
  border-radius: 0.7rem;
  padding: 1rem 3rem;
  margin: 0 2rem;
  text-decoration: none;
  color: white;
  background-color: rgb(116, 101, 252);
}

.navBar ul a:hover {
  background-color: greenyellow;
}
