@import url("https://fonts.googleapis.com/css2?family=Fredoka:wght@400;600;700&display=swap");

:root {
  --gray-dark: #252525;
  --gray-medium: #212121;
  --gray-light: #333;
  --pink-dark: #f379a7;
  --pink-light: #fcdcea;
  --blue-dark: #95b3e0;
  --blue-light: #e4f6fe;

  --font-primary: "Fredoka", sans-serif;
}

body {
  margin: 0;
  font-family: var(--font-primary);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
