:root {
  --gray-dark: #252525;
  --gray-medium: #212121;
  --gray-light: #333;
  --pink-dark: #f379a7;
  --pink-light: #fcdcea;
  --blue-dark: #95b3e0;
  --blue-light: #e4f6fe;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
